body {
  background: url('../images/backgroundImage.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat_display {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
